html {
    scroll-behavior: smooth;
}

.login-input {
    display: block;
    width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
}

#login-logo {
    text-align: center;
}

#login-logo #logo {
    position: static;
    transform: translateY(70px);
    opacity: 0;
    animation: title-animation 1s linear forwards;
    font-size: larger;
}

@keyframes title-animation {
    100% {
        transform: translateY(100px);
        opacity: 1;
    }
}

#login-register {
    text-align: center;
    margin: auto;
    padding: auto;
}

#login-submit {
    width: 300px;
    height: 30px;
    color: #fff;
    background-color: #00f;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
}

#login-container {
    text-align: center;
    margin: auto;
    width: 500px;
    margin-top: 200px;
    border-radius: 5px;
    border: 3px #999 solid;
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: 30px;
    height: 300px;
}

#add-task-container {
    text-align: center;
    height: 170px;
    border: 2px #fff solid;
    box-sizing: padding-box;
    width: 70%;
    margin: auto;
}

.task-input {
    margin: 0 5px;
    height: 30px;
}

#add-task-submit {
    background-color: #00f;
    border: none;
    border-radius: 3px;
    height: 35px;
    display: block;
    margin: auto;
    margin-top: 5px;
    width: 100px;
    cursor: pointer;
}

.header {
    height: 60px;
    background-color: #00f;
    display: flex;
    justify-content: right;
    position: relative;
    align-items: flex-start;
}

#header-option {
    font-size: 30px;
    text-align: center;
    padding: 0 5px;
    cursor: pointer;
}

.option-label {
    font-size: 20px;
    margin-left: 10px;
}

#options {
    position: fixed;
    width: 300px;
    background: linear-gradient(to right, rgba(0, 0, 255, 0.804), rgba(139, 133, 133, 0.582));
    opacity: 1;
    height: 100vh;
    box-shadow: 0, 3, 5, 5;
    right: -300px;
    transition: 1s right;
}

#options.active {
    right: 0px;
}

.option {
    color: #fff;
    cursor: pointer;
    font-size: 50px;
    margin-bottom: 15px;
    box-sizing: border-box;
    width: 300px;
    display: flex;
    transition: 1s padding-left;
    margin-left: 5px;
    align-items: center;
}

.option:hover {
    padding-left: 20px;
    border-bottom: 3px #000 solid;
}

#header-option:hover {
    background-color: none;
    color: #fff;
}

#tasks-container {
    width: 70%;
    margin: auto;
    margin-top: 60px;
    cursor: default;
    border-radius: 5px;
}

.task {
    position: relative;
    word-wrap: break-word;
    min-height: 40px;
    border-bottom: 1px #000 solid;
    border-radius: 5px;
}

.task-title {
    margin: 0;
    padding: 0;
}

.task-discription {
    margin: 0;
    padding: 0;
}

.task-cls-btn {
    position: absolute;
    right: 0px;
    top: 0;
    cursor: pointer;
    color: #fff;
    background-color: #f00;
    border: 0px;
    height: 30px;
    border-radius: 3px;
}

#logo {
    color: #fff;
    position: absolute;
    left: 0;
    cursor: default;
}

.spinner {
    width: 10px;
    height: 10px;
    background-color: #000;
    animation: spinner 1s alternate infinite linear;
}

@keyframes spinner {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(360deg);
    }
}